{% extends 'basic_app/base.html' %}

{% block title %}Happy Blogging{% endblock %}

{% block content %}

<center>
<form method= "GET" >

<input type = "text" placeholder="Search Here" name = 'q' value = '{{request.GET.q}}'>
<button class  = "btn btn-warning"><center><span class= 'glyphicon glyphicon-search'></span></center></button></form>

</form>
</center>

<br><br>

<div class = "container">
	<div class = "jumbotron">

		<h2 align = 'center'>READ HERE ! </h2><br><br>

		{% if ques %}
			{% for question in ques %}
		
		<ul>
				
			<li><h2><a href = "{% url 'post_detail' pk=question.pk %}">{{question.title}}</a></h2></li>
			<br>
			<p>{{ question.text|truncatechars:35 }}</p>
			<p>{{ question.created_date }}</p>
		
			</ul>

		<hr>


	

		{% endfor %}

{% else %}

<h3 align='center' style = "font-family:sans-serif;"> Oops! No search found! Try by changing the spelling. Keep Blogging ^_^ </h3>

{% endif %}


	</div>
</div>

{% endblock %}